.post {
    .entry-content {
        p {
            font-family: $third_font;
            color: #000;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 16px;
        }
    }
}
